:root {
  /* Color - Brand */

  --color-primary: #011343;
  --color-secondary: #da8011;  
  --color-dark: #000000;
  --color-transparent: transparent;

  /* Color - Neutral */
  --color-neutral-0: #ffffff;
  --color-neutral-1: #f8f9fa;
  --color-neutral-2: #f1f3f5;
  --color-neutral-3: #e9ecef;
  --color-neutral-4: #dee2e6;
  --color-neutral-5: #ced4da;
  --color-neutral-6: #adb5bd;
  --color-neutral-7: #6a7178;
  --color-neutral-8: #4f575e;
  --color-neutral-9: #272b30;
  --color-neutral-10: #101213;

  /* Color - Extended */

  --color-yellow: #f59f00;

  --font-size-xs: 0.75rem;
  --font-size-s: 1rem;
  --font-size-base: 1.5rem;
  --font-size-m: 2rem;
  --font-size-l: 4rem;
  --font-size-xl: 7rem;
  --padding-xs: 0.2rem;
  --padding-s: 1rem;
  --padding-base: 2rem;
  --padding-m: 4rem;
  --padding-l: 6rem;
  --padding-xl: 8rem;
  --margin-xs: 0.2rem;
  --margin-s: 1rem;
  --margin-base: 2rem;
  --margin-m: 4rem;
  --margin-l: 6rem;
  --margin-xl: 8rem;
  --font-primary: "Ubuntu", sans-serif;
  --font-cursive: "Italianno", cursive;
  --heading-line-height: 1;

   /* Typography - Weight */
   --font-light: 300;
   --font-regular: 400;
   --font-semi-bold: 600;
   --font-bold: 700;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: var(--font-primary);
  text-align: center;
  background-color: var(--color-neutral-3);
  background-image: url("../assets/images/background/ags-durbanville-bg-1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#header {
  background-color: var(--color-transparent);
}

/* Colours */

.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-neutral {
  color: var(--color-neutral);
}
.color-neutral-1 {
  color: var(--color-neutral-1);
}
.color-dark {
  color: var(--color-dark);
}
.color-dark-1 {
  color: var(--color-dark-1);
}
.color-secondary-dark {
  color: var(--color-secondary-dark);
}
.color-secondary-light {
  color: var(--color-secondary-light);
}
.color-header {
  color: var(--color-secondary-light);
}

.border-color-primary {
  border-color: var(--color-primary);
}
.border-color-secondary {
  border-color: var(--color-secondary);
}
.border-color-neutral {
  border-color: var(--color-neutral);
}

/* Fonts */

.font-size-xs {
  font-size: var(--font-size-xs);
}
.font-size-s {
  font-size: var(--font-size-s);
}
.font-size-base {
  font-size: var(--font-size-base);
}
.font-size-m {
  font-size: var(--font-size-m);
}
.font-size-l {
  font-size: var(--font-size-l);
}
.font-size-xl {
  font-size: var(--font-size-xl);
}

.font-primary {
  font-family: var(--font-primary);
}
.font-cursive {
  font-family: var(--font-cursive);
}

.font-bold {
  font-weight: bold;
}

/* Box properties */

.center-content {
  display: grid;
  align-items: center;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.padding-none {
  padding: 0;
}

.padding-top-xs {
  padding-top: var(--padding-xs);
}
.padding-top-s {
  padding-top: var(--padding-s);
}
.padding-top-base {
  padding-top: var(--padding-base);
}
.padding-top-m {
  padding-top: var(--padding-m);
}
.padding-top-l {
  padding-top: var(--padding-l);
}
.padding-top-xl {
  padding-top: var(--padding-xl);
}

.padding-left-xs {
  padding-left: var(--padding-xs);
}
.padding-left-s {
  padding-left: var(--padding-s);
}
.padding-left-base {
  padding-left: var(--padding-base);
}
.padding-left-m {
  padding-left: var(--padding-m);
}
.padding-left-l {
  padding-left: var(--padding-l);
}
.padding-left-xl {
  padding-left: var(--padding-xl);
}

.padding-right-xs {
  padding-right: var(--padding-xs);
}
.padding-right-s {
  padding-right: var(--padding-s);
}
.padding-right-base {
  padding-right: var(--padding-base);
}
.padding-right-m {
  padding-right: var(--padding-m);
}
.padding-right-l {
  padding-right: var(--padding-l);
}
.padding-right-xl {
  padding-right: var(--padding-xl);
}

.padding-bottom-xs {
  padding-bottom: var(--padding-xs);
}
.padding-bottom-s {
  padding-bottom: var(--padding-s);
}
.padding-bottom-base {
  padding-bottom: var(--padding-base);
}
.padding-bottom-m {
  padding-bottom: var(--padding-m);
}
.padding-bottom-l {
  padding-bottom: var(--padding-l);
}
.padding-bottom-xl {
  padding-bottom: var(--padding-xl);
}

.padding-x-xs {
  padding-left: var(--padding-xs);
  padding-right: var(--padding-xs);
}
.padding-x-s {
  padding-left: var(--padding-s);
  padding-right: var(--padding-s);
}
.padding-x-base {
  padding-left: var(--padding-base);
  padding-right: var(--padding-base);
}
.padding-x-m {
  padding-left: var(--padding-m);
  padding-right: var(--padding-m);
}
.padding-x-l {
  padding-left: var(--padding-l);
  padding-right: var(--padding-l);
}
.padding-x-xl {
  padding-top: var(--padding-xl);
  padding-right: var(--padding-xl);
}

.padding-y-xs {
  padding-top: var(--padding-xs);
  padding-bottom: var(--padding-xs);
}
.padding-y-s {
  padding-top: var(--padding-s);
  padding-bottom: var(--padding-s);
}
.padding-y-base {
  padding-top: var(--padding-base);
  padding-bottom: var(--padding-base);
}
.padding-y-m {
  padding-top: var(--padding-m);
  padding-bottom: var(--padding-m);
}
.padding-y-l {
  padding-top: var(--padding-l);
  padding-bottom: var(--padding-l);
}
.padding-y-xl {
  padding-top: var(--padding-xl);
  padding-bottom: var(--padding-xl);
}

.margin-none {
  margin: 0;
}

.margin-top-xs {
  margin-top: var(--margin-xs);
}
.margin-top-base {
  margin-top: var(--margin-base);
}
.margin-top-s {
  margin-top: var(--margin-s);
}
.margin-top-m {
  margin-top: var(--margin-m);
}
.margin-top-l {
  margin-top: var(--margin-l);
}
.margin-top-xl {
  margin-top: var(--margin-xl);
}

.margin-left-xs {
  margin-left: var(--margin-xs);
}
.margin-left-s {
  margin-left: var(--margin-s);
}
.margin-left-base {
  margin-left: var(--margin-base);
}
.margin-left-m {
  margin-left: var(--margin-m);
}
.margin-left-l {
  margin-left: var(--margin-l);
}
.margin-left-xl {
  margin-left: var(--margin-xl);
}

.margin-right-xs {
  margin-right: var(--margin-xs);
}
.margin-right-s {
  margin-right: var(--margin-s);
}
.margin-right-base {
  margin-right: var(--margin-base);
}
.margin-right-m {
  margin-right: var(--margin-m);
}
.margin-right-l {
  margin-right: var(--margin-l);
}
.margin-right-xl {
  margin-right: var(--margin-xl);
}

.margin-bottom-xs {
  margin-bottom: var(--margin-xs);
}
.margin-bottom-s {
  margin-bottom: var(--margin-s);
}
.margin-bottom-base {
  margin-bottom: var(--margin-base);
}
.margin-bottom-m {
  margin-bottom: var(--margin-m);
}
.margin-bottom-l {
  margin-bottom: var(--margin-l);
}
.margin-bottom-xl {
  margin-bottom: var(--margin-xl);
}

.margin-x-xs {
  margin-left: var(--margin-xs);
  margin-right: var(--margin-xs);
}
.margin-x-s {
  margin-left: var(--margin-s);
  margin-right: var(--margin-s);
}
.margin-x-base {
  margin-left: var(--margin-base);
  margin-right: var(--margin-base);
}
.margin-x-m {
  margin-left: var(--margin-m);
  margin-right: var(--margin-m);
}
.margin-x-l {
  margin-left: var(--margin-l);
  margin-right: var(--margin-l);
}
.margin-x-xl {
  margin-top: var(--margin-xl);
  margin-right: var(--margin-xl);
}

.margin-y-xs {
  margin-top: var(--margin-xs);
  margin-bottom: var(--margin-xs);
}
.margin-y-s {
  margin-top: var(--margin-s);
  margin-bottom: var(--margin-s);
}
.margin-y-base {
  margin-top: var(--margin-base);
  margin-bottom: var(--margin-base);
}
.margin-y-m {
  margin-top: var(--margin-m);
  margin-bottom: var(--margin-m);
}
.margin-y-l {
  margin-top: var(--margin-l);
  margin-bottom: var(--margin-l);
}
.margin-y-xl {
  margin-top: var(--margin-xl);
  margin-bottom: var(--margin-xl);
}

.shadow-bottom {
  -webkit-box-shadow: 0 8px 6px -3px rgba(161, 161, 161, 0.4); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 8px 6px -3px rgba(161, 161, 161, 0.4); /* Firefox 3.5 - 3.6 */
  box-shadow: 0 8px 6px -3px rgba(161, 161, 161, 0.4); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.shadow-top {
  -webkit-box-shadow: inset 0 8px 6px -3px rgba(161, 161, 161, 0.4); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: inset 0 8px 6px -3px rgba(161, 161, 161, 0.4); /* Firefox 3.5 - 3.6 */
  box-shadow: inset 0 8px 6px -3px rgba(161, 161, 161, 0.4); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/* Buttons */

.btn-custom-secondary {
  color: var(--color-neutral);
  background-color: var(--color-secondary);
  border-color: transparent;
}

.btn-custom-secondary:hover {
  background-color: var(--color-secondary-dark);
  color: var(--color-neutral);
}

.btn-custom-secondary-neutral {
  color: var(--color-secondary);
  background-color: var(--color-neutral);
  border-color: var(--color-secondary);
}

.btn-custom-secondary-neutral:hover {
  background-color: var(--color-neutral-2);
  color: var(--color-secondary);
}

.btn-custom-primary {
  color: var(--color-neutral);
  background-color: var(--color-primary);
  border-color: transparent;
}

.btn-custom-primary:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-neutral);
}

.btn-custom-primary-neutral {
  color: var(--color-primary);
  background-color: var(--color-neutral);
  border-color: var(--color-primary);
}

.btn-custom-primary-neutral:hover {
  background-color: var(--color-neutral-2);
  color: var(--color-primary);
}

.btn-group > .active {
  color: var(--color-neutral);
  background-color: var(--color-primary);
  border-color: transparent;
}

.btn:focus,
.btn.focus {
  box-shadow: 0 0 0 0;
}

/* Titles */

.heading1 {
  font-size: var(--font-size-xl);
}
.heading2 {
  font-size: var(--font-size-l);
}
.heading3 {
  font-size: var(--font-size-m);
}
.heading4 {
  font-size: var(--font-size-base);
}
.heading5 {
  font-size: var(--font-size-s);
}
.heading6 {
  font-size: var(--font-size-xs);
}

.heading-line-height {
  line-height: var(--heading-line-height);
}


/* Navbar */

.navbar {
  padding: var(--padding-xs) var(--padding-s);
}

.nav-link {
  margin: 0 var(--margin-s);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--color-neutral-0);
  font-weight: var(--font-bold);
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--color-yellow);  
}

/* Back to top button */

#backToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
}

#backToTopButton:hover {
  background-color: #555;
}
